@media only screen and (min-width:830px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
    }
    
    .header {
        grid-row-start: 1;
        grid-column: 1 / span 2;
        width:100%;
        text-align:center;
    }

    .logo {
        width: 90%;
        display:inline-block;
        margin: 0 auto;
    }

    .nav {
        position: sticky;
        display: block;
        text-align: center;
    }

    .navlink {
        position: relative;
        display: inline-block;
        font-size: 1.25rem;
        padding-left: 50px;
        padding-right: 50px;
    }

    .social {
        font-size: 1.25rem;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    a:hover {
        opacity: 70%;
        transition: 0.5s;
        color: #2a7039;
    }

    .text {
        grid-column-start: 1 span 2;
        grid-row-start: 2;
        padding-left: 400px;
        padding-right: 400px;
        padding-bottom: 100px;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    p {
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 1rem;
    }

    b {
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 1rem;
        text-align: center;
    }

    .image {
        max-width: 550px;
        padding-bottom: 25px;
    }

    .small-image {
        max-width: 150px;
        padding-bottom: 25px;
    }

    .items {
        grid-column-start: 1;
        grid-row-start: 2;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item {
        max-width: 300px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .button {
        max-width: 200px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    }
    
@media only screen and (max-width:830px) {
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
}

.header {
    grid-row-start: 1;
    width:100%;
    text-align:center;
}

.logo {
    width: 100%;
    display:inline-block;
    margin: 0 auto;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

a:hover {
    opacity: 70%;
    transition: 0.5s;
    color: #2a7039;
}

.text {
    grid-row-start: 3;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

p {
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1rem;
}

b {
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.nav {
    grid-row-start: 2;
    text-align: center;
    font-size: 1.3rem;
}

.navlink {
    padding-left: 15px;
    padding-right: 15px;
}

.social {
    font-size: 1rem;
}

.image {
    max-width: 300px;
    padding-bottom: 25px;
}

.items {
    grid-row-start: 3;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.item {
    max-width: 300px;
    padding-bottom: 25px;
}

.button {
    max-width: 200px;
    padding-bottom: 25px;
}

.small-image {
    max-width: 150px;
    padding-bottom: 25px;
}

iframe {
    width: fit-content;
}
}
    
