@media only screen and (min-width:830px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 300px 1fr;
    }
    
    .header {
        grid-row-start: 1;
        grid-column: 1 / span 2;
        width:100%;
        text-align:center;
    }

    .logo {
        max-width: 400px;
        padding-top: 50px;
        display:inline-block;
        margin: 0 auto;
    }

    .nav {
        grid-column-start: 1;
        grid-row-start: 2;
        position: sticky;
        display: block;
        text-align: center;
        padding-left: 150px;
    }

    .navlink {
        position: relative;
        display: inline-block;
        padding: 18px;
        font-size: 1.25rem;
    }

    .social {
        font-size: 1.25rem;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    a:hover {
        opacity: 70%;
        transition: 0.5s;
        color: #2a7039;
    }

    .text {
        grid-column-start: 2;
        grid-row-start: 2;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 50px;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    p {
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 1rem;
    }

    .image {
        max-width: 550px;
        padding-bottom: 25px;
    }
    
    }
    
@media only screen and (max-width:830px) {
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 75px 1fr;
}

.header {
    grid-row-start: 1;
    width:100%;
    text-align:center;
}

.logo {
    padding-top: 50px;
    max-width: 325px;
    display:inline-block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

a:hover {
    opacity: 70%;
    transition: 0.5s;
    color: #2a7039;
}

.text {
    grid-row-start: 3;
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

p {
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1rem;
}

.nav {
    grid-row-start: 2;
    text-align: center;
    font-size: 1.3rem;
}

.social {
    font-size: 1rem;
}

.image {
    max-width: 300px;
    padding-bottom: 25px;
}
  
}
    
