@media only screen and (min-width:830px) {
body {
    margin: 0;
    padding: 0;
    background-image: url("images/loose-characters-desktop-01.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.link1 {
    grid-column-start: 2;
    grid-row-start: 1;
}

.link2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.link3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

.link4 {
    grid-column-start: 2;
    grid-row-start: 3;
}

a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.25rem;
    padding: 15px;
    border-style: solid;
}

a:hover {
    opacity: 70%;
    transition: 0.5s;
    color: #2a7039;
}

p {
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1rem;
}

}

@media only screen and (max-width:830px) {
body {
    margin: 0;
    padding: 0;
    background-image: url("images/loose-characters-mobile-01.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 375px 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    background-color: white;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.4rem;
    padding: 15px;
    border-style: solid;
    margin-bottom: 30px;
}

a:hover {
    opacity: 70%;
    transition: 0.5s;
    color: #2a7039;
}

.link1 {
    grid-row-start: 2;
}

.link2 {
    grid-row-start: 3;
}

.link3 {
    grid-row-start: 4;
}

.link4 {
    grid-row-start: 5;
}
}
