@media only screen and (min-width:830px) {
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 300px 1fr;
    }
    
    .header {
        grid-row-start: 1;
        grid-column: 1 / span 2;
        width:100%;
        text-align:center;
    }

    .logo {
        width: 100%;
        display:inline-block;
        margin: 0 auto;
    }

    .logo2 {
        display: none;
    }

    .nav {
        grid-column-start: 1;
        grid-row-start: 2;
        position: sticky;
        display: block;
        text-align: center;
        padding-left: 150px;
    }

    .navlink {
        position: relative;
        display: inline-block;
        padding: 18px;
        font-size: 1.25rem;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    a:hover {
        opacity: 70%;
        transition: 0.5s;
        color: #469639;
    }

    p {
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 1rem;
    }

    b {
        color: black;
        font-family: 'Kosugi Maru', sans-serif;
        font-size: 1rem;
    }

    .items {
        grid-column-start: 2;
        grid-row-start: 2;
        padding-left: 100px;
        padding-right: 100px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
        max-width: 300px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .info {
        grid-column-start: 2;
        grid-row-start: 3;
        padding-left: 210px;
        padding-right: 210px;
        padding-bottom: 75px;
        display: grid;
        align-items: center;
        justify-items: end;
        grid-template-columns: 1fr 1fr;
    }

    .description {
        grid-column-start: 1;
    }

    .purchase {
        grid-column-start: 2;
    }

    .button {
        background-color: #757575;
        color: white;
        padding: 15px 100px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
    }
    
    }
    
@media only screen and (max-width:830px) {
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 220px 75px 1fr;
}

.header {
    grid-row-start: 1;
    width:100%;
    text-align:center;
}

.logo {
    display:none;
}

.logo2 {
    width: 80%;
    display:inline-block;
    margin: 0 auto;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

a:hover {
    opacity: 70%;
    transition: 0.5s;
    color: blue;
}

p {
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1rem;
}

b {
    color: black;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1rem;
}

.nav {
    grid-row-start: 2;
    text-align: center;
    font-size: 1.3rem;
}

.items {
    grid-row-start: 3;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.item {
    max-width: 300px;
    padding-bottom: 25px;
}

.info {
    padding-left: 30px;
    padding-right: 30px;
}

.description {
    padding-bottom: 40px;
}

.purchase {
    padding-bottom: 75px;
}

.button {
    background-color: #757575;
    color: white;
    padding: 15px 100px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
  
}
